body{
	background: linear-gradient(to right, #195cb3, #226cc3, #3288db);
	    font:  Roboto,"Helvetica Neue",sans-serif;
		
}
.container{
   margin: 0px;
	margin-top: 10px ;
	font-family: 'Play', sans-serif;
}

}
nav{
	
	font-size: 16px;
}
.container nav a:hover {
 color: #ADD8E6		;
}
.container nav a{
	 margin: 10px 15px  ;
	
	text-decoration:none;
	color: white;
	
}

	
img{
	height:43px;
	width: 155px;
	margin-left:10px;
	margin-top: 5px ;
	
}

a.form {
  /*width: auto;*/
  float: right;
  margin: 30px 30px;
 
}

  
  

input {
  width: 200px;
  height: 50%;
  padding: 5px 16px;
 border-radius:100px;
  border: none;
  outline: none;
  position: relative;

}
input:focus { 
  width: 180px;
}

.textC{
	color: white;
	font-size: 45px;
	
   
    margin-top: 100px;
	margin-left:500px;
	z-index: 2;
	font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.imageA {
	margin-top: -100px;
	margin-left:-100px;
	position: absolute ;
    height:380px;
	width: 800px;
	z-index: 1;

}
.con{
	background: white;
	position:relative;
    height:700px;
	margin-top:95px;
}
.con:before{
	content:'';
	position:absolute;
	border-bottom:100px solid;
	border-right: 100vw solid transparent;
	top:-99px;
	color: white;
   
}


